root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
max_line_length = 120

[*.js]
indent_size = 2
max_line_length = 80

[*.{json,jsonc}]
indent_size = 2
max_line_length = 80

[.prettierrc]
indent_size = 2
max_line_length = 80

[*.md]
trim_trailing_whitespace = false
