{
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": [".vscode/*.json", "tsconfig.json"],
      "options": {
        "parser": "jsonc"
      }
    }
  ]
}
